<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Travel Planner</title>
    <!-- Load Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../favicon/site.webmanifest" />
  </head>

  <body>
    <header>
      <h1>Travel Planner</h1>
    </header>
    <main>
      <section id="main-content">
        <div id="main-trip-card" class="card flex-center-col">
          <div id="no-trips" class="flex-center-col">
            <h1>Hey, 😃</h1>
            <p>
              You don't have any trips yet, start by adding your first trip.
            </p>
            <button id="show-add-trip-btn" class="btn primary-btn">
              Add Trip
            </button>
          </div>
        </div>
        <div id="current-weather" class="bg-grad">
          <div class="flex-row-space">
            <h3 id="saying-hi">Good Morning</h3>

            <img
              src="../assets/sun.svg"
              alt="Saying hi icon"
              id="current-weather-icon"
            />
          </div>

          <div id="current-weather-info" class="flex-center-col">
            <div id="current-weather-temp">
              <span id="temperature">--°</span><br />
              <span id="city">--- ----</span>
            </div>

            <div class="current-weather-details">
              <div class="flex-center-col">
                <img
                  src="../assets/sun.svg"
                  width="25"
                  height="25"
                  alt="Sunrise time"
                /><span id="sunrise">--</span>
              </div>
              <div class="flex-center-col">
                <img
                  src="../assets/sunset.svg"
                  width="25"
                  height="25"
                  alt="Sunset time"
                /><span id="sunset">--</span>
              </div>
              <div class="flex-center-col">
                <img
                  src="../assets/wind.svg"
                  width="25"
                  height="25"
                  alt="Wind speed"
                /><span id="wind">--</span>
              </div>
              <div class="flex-center-col">
                <img
                  src="../assets/clouds.svg"
                  width="25"
                  height="25"
                  alt="Clouds"
                /><span id="clouds">--</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="add-trip-form">
        <form class="card">
          <h1>Add Trip</h1>
          <div id="destination-error" class="error"></div>
          <input
            id="destination"
            type="text"
            placeholder="Traveling to"
            required
          />
          <input
            id="departure-date"
            type="date"
            min="today"
            placeholder="Departing in"
            required
          />
          <button id="add-trip-btn" class="btn primary-btn">Add</button>
          <a id="hide-add-trip-form" href="#">
            <img
              src="../assets/cancel.svg"
              alt="Cancel icon"
              width="35"
              height="35"
              id="cancel-add-trip"
            />
          </a>
        </form>
      </section>
      <section id="coming-trips">
        <div id="coming-trips-load"></div>

        <div id="ctrl-btn" class="flex-center-col">
          <button id="add-trip-btn-sec" class="btn bg-grad">Add Trip</button>
          <!-- <button class="btn bg-grad">My Trips</button> -->
        </div>
      </section>
      <!-- <section id="more-trips">
        <div class="row">
          <div class="card trip-preview">
            <div class="trip-preview-img"></div>
            <div class="trip-info">
              <h2 class="dist-name">First, France</h2>
              <h4 class="departure-date">02/12/2020</h4>
              <h3 class="remaining-days">220 days</h3>
            </div>
          </div>
          <div class="card trip-preview">
            <div class="trip-preview-img"></div>
            <div class="trip-info">
              <h2 class="dist-name">Second, France</h2>
              <h4 class="departure-date">02/12/2020</h4>
              <h3 class="remaining-days">220 days</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card trip-preview">
            <div class="trip-preview-img"></div>
            <div class="trip-info">
              <h2 class="dist-name">Third, France</h2>
              <h4 class="departure-date">02/12/2020</h4>
              <h3 class="remaining-days">220 days</h3>
            </div>
          </div>
          <div class="card trip-preview">
            <div class="trip-preview-img"></div>
            <div class="trip-info">
              <h2 class="dist-name">Fourth, France</h2>
              <h4 class="departure-date">02/12/2020</h4>
              <h3 class="remaining-days">220 days</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card trip-preview">
            <div class="trip-preview-img"></div>
            <div class="trip-info">
              <h2 class="dist-name">Third, France</h2>
              <h4 class="departure-date">02/12/2020</h4>
              <h3 class="remaining-days">220 days</h3>
            </div>
          </div>
        </div>

        <div id="more-trips-ctrl">
          <button class="btn primary-btn">More Trips</button>
          <button class="btn secondary-btn">Hide Trips</button>
        </div>
      </section> -->
    </main>
    <!-- <script>
      // Check that service workers are supported
      // if ("serviceWorker" in navigator) {
      //   // Use the window load event to keep the page load performant
      //   window.addEventListener("load", () => {
      //     navigator.serviceWorker.register("/service-worker.js");
      //   });
      // }
    </script> -->
  </body>
</html>
